body {
    background: #e0e0e0;
    padding: 0 5vw;
    font-family: 'Poppins';
    display: grid;  
    place-content: center;
    height: 100vh;
}

// original state of changed items, will start at -50px with .5s delay and will fadeIn in 1s, add forwards at the animation, so it doesn't go back to opacity 0 after the animation

.container {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 1s forwards;
    animation-delay: .5s;
}

// this will control the animation called fadeIn

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

h1 {
    font-weight: normal;
    font-size: clamp(2rem , 5vw, 7rem);
    position: relative;

    &:before {
        content: '"';
        position: absolute;
        font-size: 30rem;
        font-family: Georgia, "Times New Roman", Times, serif;
        opacity: 0.1;
        top: -.3em;
        left: -.2em;
        z-index: -1;

    }
}

button {
    display: flex;
    gap: 1em;
    border: none;
    background: none;
    align-items: center;
    cursor: pointer;
    * {
        flex: 1;
    }

    span {
        white-space: nowrap;
        font-size: clamp(1.2rem, 1.5vw, 4rem);
    }

    svg {
        width: 20px;
        transition: transform .3s;
    }
}